.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

#Contact_Header {
    font-weight: bold;
    color: deepskyblue;
}

#MarqueeStyle {
    font-weight: bold;
    color: darkorange;
}
